<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amanmehta.covid19_tracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".symptomss"></activity>

        <activity android:name=".ViewExperiences"></activity>
        <activity android:name=".ShareExperience" />

        <activity android:name=".Login" />
        <activity android:name=".Signup" />
        <activity android:name=".DashBoard" />
        <activity android:name=".mediaActivity" />
        <activity android:name=".checkingSymptoms" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CountryStats" />
        <activity android:name=".AffectedCountries" />
        <activity
            android:name=".MainActivity"
            android:label="Covid19 Tracker"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>